body {
    font-family: Arial, sans-serif;
}

table {
    width: 70%;
    border-collapse: collapse;
    margin: 0 auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

/* tr:nth-child(even) {
    background-color: #f2f2f2;
} */

.center {
    text-align: center;
}

.holiday {
    background-color: #d71111;
    font-weight: bold;
}

.sunday {
    background-color: #45a049;
    font-weight: bold;
}

.header {
    text-align: center;
}

.input-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px; /* Add margin between input rows */
}

#monthSelect {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box; /* Include padding in the width */
    transition: border-color 0.3s;
    margin-right: 10px; /* Add margin to the right of the input field */
}

#yearSelect {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box; /* Include padding in the width */
    transition: border-color 0.3s;
    margin-right: 10px; /* Add margin to the right of the input field */
    width: 120px;
}

#customDate {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box; /* Include padding in the width */
    transition: border-color 0.3s;
    margin-right: 10px; /* Add margin to the right of the input field */
    width: 255px;
}

#monthSelect:focus, #yearSelect:focus, #customDate:focus {
    border-color: dodgerblue; /* Change border color on focus */
    outline: none; /* Remove default focus outline */
}

.submit-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
  }

  .calendar-button {
    background-color: black;
    border: none;
    color: white;
    padding: 6px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 10px;
    cursor: pointer;
    border-radius: 8px;
  }
  
  /* Hover effect */
  .submit-button:hover {
    background-color: #45a049; /* Darker green */
  }
  
  /* Pressed effect */
  .submit-button:active {
    background-color: #3e8e41; /* Even darker green */
  }

  .error-message {
    color: #ff6666;;
    font-size: 17px;
    font-weight: bold;
    margin-top: 5px;
  }

  .disabled-cell {
    background-color: #f2f2f2; /* Light gray background */
    color: #666; /* Text color for disabled look */
}

.disabled-button {
    background-color: #ccc; /* Gray background */
    color: #999; /* Light text color */
}

.close-calendar-button {
    background-color: black; /* Green */
    border: none;
    color: white;
    padding: 10px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 8px;
}
  
.table-container {
    position: relative;
}

.selected-date {
    border-radius: 8px;
    border-color: black;
}
  